.folder-page {
    min-height: 100vh;
    background: linear-gradient(to bottom, #7B83EB, #ADA9FF, #EDEDF2);
    padding: 20px;
}

.switch-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.switch-container button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background: #ADA9FF;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.switch-container button.active {
    background: #4D4D9A;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.flashcard {
    background: transparent;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px;
    perspective: 1000px;
    min-height: 250px;
    max-height: 150px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.flashcard:hover {
    transform: scale(1.05);
}

.flashcard.flipped {
    background: #7B83EB;
    color: white;
}

.note {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.question {
    overflow: hidden;
    font-weight: bold;
    color: #4D4D9A;
}

.answer {
    color: #7B83EB;
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.flashcard-front {
    background: white;
    color: #4D4D9A;
}

.flashcard-back {
    background: #7B83EB;
    color: white;
    transform: rotateY(180deg);
}

.flashcard-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    font-size: 1.2rem;
}

.flashcard-text:hover {
    white-space: normal;
    overflow: visible;
}